<a href="https://colab.research.google.com/github/majork200/-NF3-BIG-DATA-Jhonathan-William-andrade-alves/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#jhonatham william
#202202136956
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/majork200/-NF3-BIG-DATA-Jhonathan-William-andrade-alves/main/world_alcohol.csv',encoding= 'latin-1', sep = ',')
dataset

In [ ]:
#agrupar por tipos de bebida
tipbebidas = dataset.groupby('Beverage Types')


for grupo, dados in tipbebidas:
    print("Grupo:", grupo)
    display(dados)
    print()

In [ ]:
#b. Agrupe os dados por Região e por Ano;
reg_ano = dataset.groupby(['Year','Country'])

for grupo, dados in reg_ano:
    print("Grupo:", grupo)
    display(dados)
    print()

In [ ]:
# Seção de Contagens: Contar a ocorrência de Regiões, de Países e a soma da coluna de valores
#por Bebida.
reg_somav = dataset[['WHO region','Country','Display Value','Beverage Types']].groupby(['Beverage Types','WHO region','Country',]).sum()
reg_somav

In [ ]:
#Realize análises estatísticas da coluna dos valores: Média, Moda, Mediana, Estatística
#Descritiva e Gráfico de comparação dos valores agrupados por tipo de bebida.

import matplotlib.pyplot as plt

# Realizar análises estatísticas da coluna dos valores
media = dataset['Display Value'].mean()
moda = dataset['Display Value'].mode()
mediana = dataset['Display Value'].median()
estatistica_descritiva = dataset['Display Value'].describe()

# análises estatísticas
print('\nMédia:\n', media)
print('\nModa:\n', moda)
print('\nMediana:\n', mediana)
print('\nEstatística Descritiva:\n', estatistica_descritiva)

# Gráfico por tipo de bebida
soma_bebida = dataset.groupby('Beverage Types')['Display Value'].mean()
soma_bebida.plot(kind='bar')
plt.xlabel('Tipos de Bebidas')
plt.ylabel('Valores da Bebida')
plt.show()

In [ ]:
#Mostre resultados de acordo com alguns critérios:
#i. Mostrar a coluna de bebidas do ano de 1985.
bbds1985 = dataset.loc[dataset['Year'] == 1985]
bbds1985

In [ ]:
# ii. Mostrar a coluna de Região com valores acima de 4.
reg_acima_de_4 = dataset.loc[dataset['Display Value'] > 4, ['WHO region']]
reg_acima_de_4

In [ ]:
#2
dataset2 = pd.read_csv('https://raw.githubusercontent.com/majork200/-NF3-BIG-DATA-Jhonathan-William-andrade-alves/main/cursos-prouni.csv',encoding = 'latin-1',sep = ',')
dataset2 ['curso_busca'] = dataset2['curso_busca'].str.replace('MatemÃ¡tica','Matemática')
dataset2 ['grau'] = dataset2['grau'].str.replace('TecnolÃ³gico','Tecnológico')
dataset2

In [ ]:
# Efetuar a limpeza das colunas de notas: onde tiver NaN (Not a Number), substituir por 0,0.
colunas_notas = ['bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla','nota_integral_cotas','nota_parcial_ampla','nota_parcial_cotas']
dataset2[colunas_notas] = dataset2[colunas_notas].fillna(0.0)
dataset2

In [ ]:
#Agrupe os dados pelo grau (Bacharelado, Licenciatura, etc).
dados_por_grupos = dataset2.groupby('grau')

for graus, dados in dados_por_grupos:
    print("graus:", graus)
    display(dados)
    print()

In [ ]:
#Agrupe os dados pelos cursos de Matemática, Medicina e Pedagogia.
dados_por_curso = dataset2.groupby('curso_busca')

for cursos,dados in dados_por_curso:
    print("cursos:",cursos)
    display(dados)
    print()

In [ ]:
#. Agrupe os dados por Estado e obtenha a média de notas de ordem por Estado.
coluna_dados = dataset2[['grau','turno','mensalidade','bolsa_integral_cotas','bolsa_integral_ampla','bolsa_parcial_cotas','bolsa_parcial_ampla','curso_id','curso_busca','cidade_busca','uf_busca','cidade_filtro','universidade_nome','campus_nome','campus_id','nome','nota_integral_ampla','nota_integral_cotas','nota_parcial_ampla','nota_parcial_cotas']]
coluna_dados.groupby('uf_busca').mean()

In [ ]:
#Agrupe os dados pelos cursos Tecnológicos.
cursos_tecnologia = dataset2.loc[dataset2['grau'] == 'Tecnológico']
cursos_tecnologia

In [ ]:
#Elimine a coluna “cidade_filtro” do dataframe.
dataset2 = dataset2.drop('cidade_filtro', axis=1)
dataset2

In [ ]:
#Apresente a média das mensalidades dos cursos de Medicina.
cursos_medicina = dataset2[dataset2['nome'] == 'Medicina']
cursos_medicina['mensalidade'].mean

In [ ]:
#Média das notas de corte dos cursos de tempo integral.
turno = dataset2.groupby('turno')

media_tempo_integral = turno.get_group('Integral')['nota_integral_ampla'].mean()
media_tempo_integral

In [ ]:
#Estatística Descritiva das Notas Integral Ampla dos cursos de Bacharelado.
turno = dataset2.groupby('turno')

media_curso_tempo_integral = turno.get_group('Integral')['nota_integral_ampla'].mean()
media_curso_tempo_integral

In [ ]:
#Gráfico comparativo entre o grau dos cursos (Bacharelado, Licenciatura, Tecnologia, etc)
#pelas Notas Integral de Cotas.import matplotlib.pyplot as plot
import matplotlib.pyplot as plt
curso_integral = dataset2.groupby('grau')['nota_integral_cotas'].mean()
curso_integral.plot.bar(x='grau', y='nota_integral_cotas')
plt.xlabel('Cursos')
plt.ylabel('Notas')
plt.show()